@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600&family=Baloo+Thambi+2&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

input {
  display: block; }

/* Page designs */
html,
body {
  font-family: "Baloo 2", sans-serif;
  font-size: 15px;
  width: 100%;
  overflow: hidden; }

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 0 10px;
  background-color: #57606f;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc; }
  .top-navbar .logout-btn {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #57606f;
    text-transform: uppercase; }
    .top-navbar .logout-btn:hover {
      border: 1px solid red; }

.content-wrapper {
  display: flex;
  width: 100%;
  flex: 1 auto; }
  .content-wrapper .sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    overflow: hidden;
    background-color: #57606f; }
    .content-wrapper .sidebar .sidebar-heading {
      padding: 10px;
      font-size: 20px;
      color: #ffffff;
      border-bottom: 1px solid #ccc; }
    .content-wrapper .sidebar .side-nav {
      width: 100%;
      font-size: 120%; }
      .content-wrapper .sidebar .side-nav .nav-link {
        color: #ffffff;
        display: block;
        padding: 12px;
        transition: all .3s ease-in; }
        .content-wrapper .sidebar .side-nav .nav-link:hover {
          background-color: #fff;
          color: #57606f; }
  .content-wrapper .content {
    padding: 5px;
    margin: 0 auto;
    width: 100%; }
    .content-wrapper .content .wrapper {
      width: 80%;
      margin: 0 auto; }
      .content-wrapper .content .wrapper .add-todo-btn {
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        background-color: #3742fa;
        text-transform: uppercase;
        display: flex;
        margin-bottom: 3px; }
        .content-wrapper .content .wrapper .add-todo-btn a {
          color: #fff; }
      .content-wrapper .content .wrapper .display-todos {
        display: flex;
        justify-content: center;
        background-color: #ece7e7;
        align-items: center;
        padding: 15px;
        border-radius: 4px; }
        .content-wrapper .content .wrapper .display-todos .todos-table {
          border-collapse: collapse;
          width: 100%; }
          .content-wrapper .content .wrapper .display-todos .todos-table th,
          .content-wrapper .content .wrapper .display-todos .todos-table td {
            border: 1px solid #ccc;
            padding: 5px 10px; }
          .content-wrapper .content .wrapper .display-todos .todos-table th {
            background-color: #57606f;
            color: #fff; }
    .content-wrapper .content .add-todo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50vh; }
      .content-wrapper .content .add-todo #add-todo-form {
        width: 50%;
        padding: 15px;
        background-color: #f7f7f7;
        border-radius: 5px; }
        .content-wrapper .content .add-todo #add-todo-form input,
        .content-wrapper .content .add-todo #add-todo-form textarea {
          width: 100%;
          padding: 8px 4px;
          border-radius: 5px;
          margin-bottom: 3px;
          border: 1px solid #ccc; }
        .content-wrapper .content .add-todo #add-todo-form #todo-submit-btn {
          padding: 6px 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          background-color: #3742fa;
          color: #ffffff;
          text-transform: uppercase;
          float: right; }
